html, body {
    min-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-image: url(img/islands.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #FCFBFC;
    scroll-behavior: smooth;
}

/* Navigation Bar Section */

.navbar {
    min-height: 10%;
    moz-box-shadow: 0 8px 6px -6px black;
}

/* Hero Section */

.animate__animated animate__hinge { 
    animate-delay: 6s;
}
#hero {
    border: 5px solid #7BC8E0;
    border-radius: 50%;
    margin: 200px 0 0 0;
    height: clamp(80px, 100vh, 200px);

}

.hero-text {
    text-align: center;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    height: auto;
    background: rgba(0,0,0,0.6);
    padding: 10px;
    font-weight: bold;
}

/* Mission Section */

#mission-section, #inspiration-section {
    background: #698AA8;
}

h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mission-img-location {
    margin: auto;
    padding: auto;
}
#mission-image {
    height: 250px;
    width: 250px;
    align-content: center;
    margin: auto;
    padding: 10px;
}

/* #mission-image-div {
    align-content: center;
    
} */

#mission-text {
    text-align: center;
    margin: auto;
}

/* Skills Section */

.skills-section {
    background: rgba(0,0,0,0.6);
}
.skills-grid {
    text-align: center;
    
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

#skills-img {
      font-size: 25px;
      height: 60px;
      padding: auto;
}

#css-frameworks {
    font-size: 25px;
    height: 50px;
    padding: auto;
} 

/* Inspiration Section */

#inspiration-section {
    padding: 10px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}
.carousel-item img {
  object-fit: cover;
  margin: auto;
  height: 360px;
  font-size: clamp(1.5rem, 2.5vw, 4rem); 
}

.carousel-caption {
    text-align: center;
}

/* Contact Section  */

#social-ic {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

/* Footer Section */

#social-ic {
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    padding-top: 5px;
}

.fa-twitter:hover, .fa-github:hover, .fa-linkedin-in:hover, .fa-medium-m:hover {   
    -webkit-text-fill-color: #7BC8E0;
}

.footer {
    display: flex;  
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    height: 70px;
    height: 100%;
    font-size: 10px;
    padding-top: 50px;
}